[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"
pytest = "*"
coverage = "*"
pytest-cov = "*"
merkletools = "*"

[dev-packages]

[requires]
python_version = "3.9"
